<div class="region">
    <h2>Accepted deliveries</h2>
    <% @accepted_orders.each_with_index do |order, i| %>
        <div class="region">
            <header>
                <h3>
                    <span class="request-number">Request <%= i + 1 %></span>
                    Delivery for <%= order.user.first_name %>
                </h3>
            </header>
        </div>
    <% end %>
</div>