<div class="region">
  <p id="notice"><%= notice %></p>
</div>

<div class="region">
  <h1>Orders</h1>
</div> <!-- .region -->

<div class="region">
  <div class="orders-list">
    <% @orders.each do |order| %>
      <div class="order">
        <%= order.id %>
        <%= link_to 'Show', order %>
      </div> <!-- .order -->
    <% end %>
  </div> <!-- .orders-list -->
</div> <!-- .region -->

<div class="region">
  <%= link_to 'New Order', new_order_path %>
</div> <!-- .region -->
