

  <section class="intro">
      <div class="region">
        <p>Welcome to <strong class="green">DeliveryAngels</strong> a pro-bono initiative connecting people who need goods to people who can deliver them.</p>
      </div>
  </section> <!-- .intro -->

  <section class="home-choices">
    <div class="choice">
      <div class="region">
        <h2 class="icon large">
          <span>I need a delivery</span>
          <%= inline_svg_tag(
                "icons/delivery_basket.svg",
                class: "icon",
              )
          %>
        </h2>

        <p>For vulnerable people (who have priority) and everyone else.</p>

        <p><a class="-button" href="/orders/new">Start Shopping</a><p>

      </div>
    </div>
  </section>

  <section class="home-choices  blue-bg">
    <div class="choice">
      <div class="region">
        <h2 class="icon large">
          <span>I want to deliver</span>
          <%= inline_svg_tag(
                "icons/deliver.svg",
                class: "icon",
              )
          %>
        </h2>

        <p>I am symptom free and want to be a Delivery Angel.</p>

        <p><a class="-button" href="/deliveries">Start Delivering</a></p>

      </div>
    </div>
  </section> <!-- .home-choices -->

