// https://github.com/foundation/foundation-sites/issues/11762#issuecomment-517613353

@import '_settings';
@import '~foundation-sites/scss/foundation';
@import '~motion-ui/src/motion-ui';
@import 'forms';
@include foundation-everything;
@include motion-ui-transitions;
@include motion-ui-animations;
@include foundation-xy-grid-classes;

.container {
  @include xy-grid-container;
}

$lightblue: #EFFBFD;

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

/*
  Background Colours
*/


section.intro {
  background-color: #00354E;
}

section.intro p {
  color: #ffffff;
  font-weight: 700;
}

.home-choices .choice h2 {
  font-size: 2.6rem;
}

.home-choices .choice p {
  font-size: 2rem;
  color: #00354E;
}

section.home-choices div.choice:nth-child(even) {
  background-color: #EFFBFD;
}




/*
  Text styles
*/

p, li, blockquote, span,
label, input, textarea, a {
  color: #00354E;
  font-size: 2rem;
}

h1, h2 {
  color: #84BD57;
}

label {
  font-weight: 400;
}

p, ul li, span {
  font-size: 2rem;
}

p, ul {
  margin: 1.8rem 0;
}

p.subtext {
  font-size: 1.2rem;
}

strong.green {
  color: #84BD57;
}

/*
  List styles
*/

section ul li {
  list-style: none;
}

section ul li:before {
  color: #64D8EF;
  content: "\2022";
  display: inline-block;
  width: 1em;
}

/*
  Button Styles
*/

input.-button {

}

input[type="submit"], input.-button, a.-button {
  background-color: #D94B50;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 5px 25px;
  border: 1px solid #D94B50;
}

.pointer {
  width: 1.1rem;
  height: 1.1rem;
  border-top: .21rem solid #84BD57;
  border-right: .21rem solid #84BD57;
  transform: rotate(45deg);
  border-radius: 15%;
}

/*
  Symptoms Section
*/
section.symptoms p,
section.symptoms li {
  color: #ffffff;
}

/*
  Navigation
*/

.top-bar {
  border-bottom: 1px solid grey;
}

footer {
  height: 20px;
  background-color: #00354E;
}

.category-fields div {
  border-bottom: 0.5px solid grey;
  padding: 3rem 0;
}

.category-fields-header {
  background-color: #00354E;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-fields-header .container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.category-fields-header span {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}

.category-header {
  font-size: 2.6rem;
  color: #00354E;
}

/*
  headings
*/
h2.pick-items {
  font-size: 3.2rem;
}

/*
  Sign-up form
*/
div.shopper-form-fields {
  background-color: $lightblue;
}
