/*
  Forms
*/

input {
  max-width: 100%;
  height: 3rem;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  height: 4.5rem;
  padding-left: 1rem;
  font-family: 'Open Sans', sans-serif;
}

input[type="number"] {
  width: 3rem;
  border: 0;
}

.category-fields .form-field {
  display: grid;
  grid-template-columns: 70% 30%;
}

.horizontal-number-control {
  button {
    display: inline;
    padding:0;
    margin:0;
    font-weight: bold;
    font-size: 110%;
    text-align: center;
    background-color: #a20909;
    width: 2.5rem;
    height: 2.8rem;
    border: 0;
    color: white;

    &.step- {
      margin-right: 5px;
    }

    &:hover {
      background-color: #ca1919;
    }
  }

  &.activated {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
      text-align: center;
    }
  }
}
