<div class="category-fields-header">
  <div class="container">
    <span>Item</span>
    <span>Quantity</span>
  </div>
</div>
<div class="region category-fields category-<%= c.name.downcase %>-fields">
  <% c.groceries.each do |g| %>
    <div class="form-field">
        <%= q.label g.id, g.name %>
        <span class="horizontal-number-control">
          <%= q.number_field g.id, in: 0..4, value: 0 %>
        </span>
    </div>
  <% end %>
</div> <!-- .category-fields .category-<%= c.name.downcase %>-fields -->
