/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/*
  Background Colours
*/


section.intro {
  background-color: #00354E;
}

section.intro p {
  color: #ffffff;
  font-weight: 700;
}

.home-choices .choice h2 {
  font-size: 2.6rem;
}

.home-choices .choice p {
  font-size: 2rem;
  color: #00354E;
}

section.home-choices div.choice:nth-child(even) {
  background-color: #EFFBFD;
}




/*
  Text styles
*/

p, li, blockquote, span,
label, input, textarea, a {
  color: #00354E;
  font-size: 2rem;
}

h1, h2 {
  color: #84BD57;
}

label {
  font-weight: 400;
}

p, ul li, span {
  font-size: 2rem;
}

p, ul {
  margin: 1.8rem 0;
}

p.subtext {
  font-size: 1.2rem;
}

strong.green {
  color: #84BD57;
}

/*
  List styles
*/

section ul li {
  list-style: none;
}

section ul li:before {
  color: #64D8EF;
  content: "\2022";
  display: inline-block;
  width: 1em;
}

/*
  Button Styles
*/

input.-button {

}

input[type="submit"], input.-button, a.-button {
  background-color: #D94B50;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 5px 25px;
  border: 1px solid #D94B50;
}

.pointer {
  width: 1.1rem;
  height: 1.1rem;
  border-top: .21rem solid #84BD57;
  border-right: .21rem solid #84BD57;
  transform: rotate(45deg);
  border-radius: 15%;
}


/*
  Scaffolding styles
*/
section, header, footer {
  width: 100%;
}

/*.region {
  margin: 0 auto;
  width: 900px;
}*/

/*@media (max-width: 1050px) {
  .region {
    margin: 0 auto;
    width: 400px;
    padding: 40px 40px;
  }
  .region-header {
    padding: 0px 40px;
  }
  img.site-logo {
    width: 100%;
    max-width:18rem;
  }

}
*/
/*@media (max-width: 400px) { */
  .region {
    padding: 40px 40px;
  }

  .container, .region {
  margin: 0 auto;
    width: 400px;
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .region-header {
    padding: 0px 40px;
  }
  img.site-logo {
    width: 100%;
    max-width:18rem;
  }

/*}*/


/*
  Symptoms Section
*/
section.symptoms p,
section.symptoms li {
  color: #ffffff;
}

/*
  Forms
*/

input {
  max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  height: 4.5rem;
  padding-left: 1rem;
    font-family: 'Open Sans', sans-serif;
}

input[type="number"] {
  width: 3rem;
  border: 0;
}


/*
  Navigation
*/


header {
  height: 70px;
  border-bottom: 1px solid grey;
}

header .region {
  display: grid;
  grid-template-columns: 50% 50%;
}




footer {
  height: 20px;
  background-color: #00354E;
}


ul.veganburger-menu {
  padding:0;
  margin:0;
}
ul.veganburger-menu li {
  list-style:none;
}

main {
  min-height: 80vh;
}

.category-fields div {
  border-bottom: 0.5px solid grey;
  padding: 3rem 0;
}





.category-fields-header {
  background-color: #00354E;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.category-fields-header .container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.category-fields-header span {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}

.category-header {
  font-size: 2.6rem;
  color: #00354E;
}

/*
  headings
*/

h2.pick-items {
  font-size: 3.2rem;
}
