/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$lightblue: #EFFBFD;
$lightgreen: #84BD57;
$darkblue: #00354E;


html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  padding: 0;
  margin: 0;
}


/*
  Background Colours
*/



.blue-bg {
  background-color: $lightblue;
}


section.intro {
  background-color: #00354E;
}

section.intro p {
  color: #ffffff;
  font-weight: 700;
  line-height: 3.7rem;
  margin: 0;
}

.home-choices .choice h2 {
  font-size: 2.6rem;
}

.home-choices .choice p {
  font-size: 2rem;
  color: #00354E;
}

section.home-choices div.choice:nth-child(even) {
  background-color: #EFFBFD;
}




/*
  Text styles
*/

p, li, blockquote, span,
label, input, textarea, a {
  color: #00354E;
  font-size: 2rem;
}

h1, h2, h2.icon span {
  color: #84BD57;
}

label {
  font-weight: 400;
}

p, ul li, span {
  font-size: 2rem;
}

p, ul {
  margin: 1.8rem 0;
}

p.subtext {
  font-size: 1.2rem;
}

strong.green {
  color: #84BD57;
}

/*
  List styles
*/

section ul li {
  list-style: none;
}

section ul li:before {
  color: #64D8EF;
  content: "\2022";
  display: inline-block;
  width: 1em;
}

/*
  Button Styles
*/


input[type="submit"],
a.-button {
  background-color: #D94B50;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  border: 1px solid #D94B50;
}

input.-button,
a.-button {
  padding: 5px 25px;
  border-radius: 30px;
  padding-right: 4.5rem;
  background-position: 97%;
  background-repeat: no-repeat;
  background-image: image-url('icons/chevron.svg');
  background-size: 2.8rem;
  height: 3.7rem;
  min-width: 23rem;
}

a.-button.secondary {
  background-color: #ffffff;
  color: #D94B50;
}

/*
  Scaffolding styles
*/
section, header, footer {
  width: 100%;
}

/*.region {
  margin: 0 auto;
  width: 900px;
}*/

/*@media (max-width: 1050px) {
  .region {
    margin: 0 auto;
    width: 400px;
    padding: 40px 40px;
  }
  .region-header {
    padding: 0px 40px;
  }
  img.site-logo {
    width: 100%;
    max-width:18rem;
  }

}
*/
/*@media (max-width: 400px) { */
  .region {
    padding: 40px 40px;
  }

  .container, .region {
    margin: 0 auto;
    width: 400px;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .region-header {
    padding: 0px 40px;
  }


/*}*/


/*
  Symptoms Section
*/
section.symptoms p,
section.symptoms li {
  color: #ffffff;
}

/*
  Forms
*/

input {
  max-width: 100%;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  height: 4.5rem;
  padding-left: 1rem;
    font-family: 'Open Sans', sans-serif;
}

input[type="number"] {
  width: 3rem;
  border: 0;
}

.category-fields .form-field,
.category-fields-header .container {
  display: grid;
  grid-template-columns: 70% 30%;
}

.form-field {
  margin-bottom: 2rem;
}


/*
  Navigation & header
*/


header {
  height: 70px;
  border-bottom: 1px solid grey;
  padding-top: 1.5rem ;
}

footer {
  height: 20px;
  background-color: #00354E;
}

main {
  min-height: 80vh;
}

.category-fields div {
  border-bottom: 0.5px solid grey;
  padding: 3rem 0;
}

.category-fields-header {
  background-color: #00354E;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.category-fields-header span {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}

.category-header {
  font-size: 2.6rem;
  color: #00354E;
}

/*
  headings
*/

h2.pick-items {
  font-size: 3.2rem;
}



/*
  Sign-up form
*/



h2.icon {
  display: grid;
  grid-template-columns: 70% 30%;
}


h2.large, h2.large span {
  font-size: 3.2rem;
}

svg.icon {
  height: 9rem;
  width: 9rem;
}


svg.icon.medium {
  height: 6rem;
  width: 6rem;
}


svg.icon.small {

}



/**
 navigation example
 **/

@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);

.fab {
  font-family: FontAwesome;
}

i.fab {
  text-decoration: none;
  font-style: normal;
}

nav .social-media a {
  text-decoration: none;
}

.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}



/************************************************/
/****************** NAVIGATION ******************/
/************************************************/
nav {
  background: white;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/*** INPUT ***/
nav input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/*** LABEL ***/
nav label {
  cursor: pointer;
}

nav .container {
  display: grid;
  grid-template-columns: 93% 7%;
}

header nav h1 {
  margin-top: 0.9rem;
  max-height: 3rem;
}

header nav h1 a span {
  letter-spacing: -999999px;
  font-size: 0px;
  height: 3rem;
  width: 20rem;
}

header nav h1 i.logo {
  height: 3.1rem;
  max-width: 21rem;
  background-repeat: no-repeat;
  background-image: image-url('logo.svg');
  display: block;
}

/* Hamburger Icon */
#menu-icon i,
#menu-icon i:before,
#menu-icon i:after {
    background: #fff;
    border-radius: 0.2em;
    height: 0.25rem;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#menu-icon i {
    display: inline-block;
    max-width: 2rem;
    position: relative;
}

#menu-icon i:before,
#menu-icon i:after {
    content: '';
    left: 0;
    position: absolute;
}

#menu-icon i:before {
    top: -0.3em;
}

#menu-icon i:after {
    bottom: -0.3em;
}

#menu-icon {
  background: $lightgreen;
  border-radius: 30px;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Close Icon */
nav input[name="veganburger"]:checked + label #menu-icon i {
  background: transparent;
}

nav input[name="veganburger"]:checked + label #menu-icon i:before {
  top: 0;
  transform: rotate(-45deg);
}

nav input[name="veganburger"]:checked + label #menu-icon i:after {
  bottom: 0;
  transform: rotate(45deg);
}

/*** MENU ***/
/* Overlay */
nav input:checked ~ #overlay {
  background: #e5e5e5;
  bottom: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

/* List */
nav ul {
  font-size: 1.5em;
  list-style: none;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

nav input:checked ~ ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
}

nav ul > li {
    margin: 0.5em 0;
}

nav ul a {
    color: #1d1f20!important;
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
}

/* Social Media */
nav ul#social-media > li {
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5em;
}


.choice p {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

/*
  Accordion menu
*/

/* Accordion Icon */
.accordion-icon i:before,
.accordion-icon i:after {
    background: white;
    height: 0.3rem;
    transition: all 0.4s ease-in-out;
    width: 2rem;
    content: "";
    display: inline-block;
    border-radius: 0.1rem;
}

.accordion-icon i:before {
    position: relative;
    top: 0.85rem;
    left: 0rem;
    transform: rotate(-90deg);
}

.accordion-icon i:after {
    position: relative;
    top: -1.9rem;
}

.accordion-icon i {
    display: inline-block;
    width: 2rem;
}

.accordion-icon i,
.accordion-icon i:before,
.accordion-icon i:after {
    content: '';
}

.accordion-icon {
  background: #D94B50;;
  border-radius: 30px;
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Close Icon */
input[name="accordion"]:checked + label .accordion-icon i {
  background: transparent;
}

input[name="accordion"]:checked + label .accordion-icon i:before {
  transform: rotate(-180deg);
}

$timing: .4s;
$ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);

.category {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

input[name="accordion"]:checked ~ .category {
  max-height: 100em;
  overflow: visible;
  opacity: 1;
}

input[name="accordion"] {
  display: none;
}

input[name="accordion"] + label {
  cursor: pointer;
}

.accordion.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.accordion.row .category {
}

.category-fields-header {
  min-width: 100vw;
}

.accordion label.accordion-toggle {
  display: grid;
  grid-template-columns: 8rem 20rem 4rem;
  height: 6rem;
  align-items: center;
  margin-bottom: 2.7rem;
}

/** deliveries **/

.request > .header {
  background-color: $lightblue;
  height: 10.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.request h3,
.request > .header h3 + p {
  font-size: 2.4rem;
  font-weight: bold;
}

.request h3,
.request h3 + p {
  margin: 0;

}

.request h3 {
  color: $lightgreen;
}

.request > .header h3 + p {

}

.request .body .row {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns:25% 75%;
  padding: 4rem 4rem 0rem 4rem;
}

.request .body .row svg {
  grid-area: 1 / 1 / 3 / 2;
  max-width: 4.5rem;
  max-height: 5rem;
  align-self: start;
}

.request .body .row:nth-of-type(1):after {
  content: "";
  background: lightgrey;
  position: relative;
  bottom: 0;
  left: 0;
  height: 1px;
  grid-column: 1 / span 2;
  margin-top: 3rem;
}

.request .body .row:nth-of-type(2) {
  margin-bottom: 4rem;
  padding-top: 0;
}

.request .body .row .field {
  grid-column: 1 / span 2;
}

.request .body .row .field > form,
.request .body .row > .field,
 {
  display: flex;
  flex-direction: column;
  align-items: center;
}



