$lightblue: #EFFBFD;
$lightgreen: #84BD57;
$darkblue: #00354E;

.horizontal-number-control.activated input[type="number"] {
  max-width: 100%;
  height: 3rem;
}

.horizontal-number-control {
  button {
    padding:0;
    margin:0;
    font-weight: bold;
    font-size: 110%;
    text-align: center;
    background-color: #a20909;
    width: 2.5rem;
    height: 2.8rem;
    border: 0;
    color: white;

    &.step- {
      margin-right: 5px;
    }

    &:hover {
      background-color: #ca1919;
    }
  }

  &.activated {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
      text-align: center;
    }
  }
}


form h2 {
  font-size: 2.8rem;
  color: #00354E;
}

form .field {
  margin-bottom: 2.5rem;
}

form#new_user h2 {
  text-align: center;
}

form#new_user .field,
form#new_user .field > .field_with_errors,
.field.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-weight: bold;
}


form .field p {
  font-size: 1.6rem;
}

form .field label {
  margin-bottom: 1.5rem;
}

.disclaimer * {
  font-size: 1.6rem;
}

.disclaimer strong:first-of-type {
  text-transform: uppercase;
  color: $lightgreen;
}

form#new_user input[type="checkbox"] {
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  top: 1rem;
}

input[type="checkbox"] + label {
  font-weight: normal;
}

form#new_user .field.align-left, form#new_user .field.align-left > .field_with_errors {
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.field_with_errors * {
  color: red;
}

.shopper-form-fields .field .field_with_errors {
  width: 100%;
}

#error_explanation * {
  color: red;
}

input[type="submit"].number-control {
  width: 2.5rem;
  max-width: 4rem;
  height: 2.8rem;
  padding: 0;
  margin: 0;
}


.orders-review input::-webkit-outer-spin-button,
.orders-review input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.orders-review input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

textarea {
  width: 100%;
  height: 10rem;
}
